extends includes/dashboard_bar



block main

    if(userRoles.includes('Organizer'))
        .display-5.m-2 Event Applications
        hr

        .container-md.text-center.p-2.border
            a(href='/dashboard/event_applications/summary').btn.btn-primary Summary

        // -- Event Application Search
        .container-md.text-center.p-2.my-3.border
            form.d-flex(role='search')
                input.form-control.me-2#myInput(type='search', placeholder='Search Event Applications', aria-label='Search Event Applications', onkeyup='searchTable()')
                button.btn.btn-outline-success.mx-1(onclick=`tableToCSV()`) Download CSV

        // -- Event Applications Table
        .container-sm.overflow-x-scroll.mt-3.p-3
            table.table.table-striped.table-bordered.my-4#myTable
                thead
                    tr
                        th user_id
                        th Email
                        th Status
                        th Age
                        th Country
                        th School
                        th Major
                        th Education Level
                        th Underrepresented Group
                        th Gender
                        th Pronouns
                        th Race
                        th Sexual Orientation
                        th Highest education Level
                        th T-Shirt Size
                        th Allergies
                        th Github
                        th Linkedin

                tbody
                    each event_application of event_applications
                        tr
                            td
                                a(href= '/dashboard/event_applications/' + event_application[0])= event_application[0]
                            td= event_application[1]
                            //td= event_application[4]
                            td= event_application[5]
                            td= event_application[6]
                            td= event_application[7]
                            td= event_application[8]
                            td= event_application[9]
                            td= event_application[10]
                            td= event_application[11]
                            td= event_application[12]
                            td= event_application[13]
                            td= event_application[14]
                            td= event_application[15]
                            td= event_application[16]
                            td= event_application[17]
                            td= event_application[18]
                            td= event_application[19]
                            td= event_application[20]